.crudTable {
    table {
        thead {
            tr {
                th {
                    padding: 15px 10px;;
                    text-transform: uppercase;
                    font-weight: normal;
                    font-size: 13px;
                }
            }
        }
    }
}