@import "../../../assets/styles/styles.scss";

.crudTable {
    table {
        width: 100%;

        thead {
            tr {
                th {
                    padding: 15px 10px;
                    text-transform: uppercase;
                    font-weight: normal;
                    font-size: 13px;
                    color: $text-color-light;
                }
            }
        }

        tbody {
            tr {
                background-color: $bg-white;
                border-bottom: 5px solid $bg-dark-medium;

                td {
                    padding: 15px 10px;
                    color: $text-color-heavy;

                    .crudTable__icons {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}