@import "../../../assets/styles/variables/styles.scss";

#button-component {
    display: flex;
    align-items: center;
    border: 2px solid $color-system-medium;
    padding: 6px 14px;
    width: fit-content;
    border-radius: 5px;
    background-color: $color-system-medium;
    color: $text-color-white;


    span {
        display: flex;
        align-items: center;
        margin-right: 10px;
        opacity: 0.8;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    p {
        margin: 0;
        font-size: 18px;
    }

    &:hover {
        cursor: pointer;
    }
}

//outline

.outline {
    background-color: #ffffff !important;
    color: $color-system-medium !important;
    border: 2px solid $color-system-medium !important;

    p {
        font-weight: 500 !important;
    }

    &:hover {
        background-color: $color-system-medium !important;
        border: 2px solid $color-system-medium !important;
        color: #ffffff !important
    }
}


//sizes
.small {
    padding: 4px 10px !important;

    span svg {
            width: 12px !important;
            height: 12px !important;
        }

    p {
        font-size: 14px !important;
    }
}

.big {
    padding: 6px 16px !important;

    span {
        margin-right: 15px !important;

        svg {
            width: 20px !important;
            height: 20px !important;
        }
    }

    p {
        font-size: 22px !important;
    }
}