@import "../../../assets/styles/variables/styles.scss";

.button_component {
    display: flex;
    align-items: center;
    border: 2px solid $color-system-medium;
    padding: 6px 14px;
    width: fit-content;
    border-radius: 5px;
    background-color: $color-system-medium;
    color: $text-color-white;


    span {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.8;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    p {
        margin: 0;
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    //outline
    &--outline {
        background-color: #ffffff;
        color: $color-system-medium;
        border: 2px solid $color-system-medium;
    
        p {
            font-weight: 500;
        }
    
        &:hover {
            background-color: $color-system-medium;
            border: 2px solid $color-system-medium;
            color: #ffffff
        }

        &:focus {
            outline: none;
        }
    }

    &--link {
        background-color: transparent;
        border: none;
        color: $color-system-medium;

        &:hover {
            opacity: 0.7;
            transition: all 0.3s ease-in-out;
        }
    }
    
    //sizes
    &--small {
        padding: 4px 10px;
    
        span svg {
                width: 12px;
                height: 12px;
            }
    
        p {
            font-size: 14px;
        }
    }
    
    &--big {
        padding: 6px 16px;
    
        span {
            margin-right: 15px;
    
            svg {
                width: 20px;
                height: 20px;
            }
        }
    
        p {
            font-size: 18px;
        }
    }
}

