
$color-system-light: #7bacd1;
$color-system-medium: #4288BD;
$color-system-heavy: #2e5f84;
$color-white: #ffffff;

$text-color-light: #686e71;
$text-color-medium: #424648;
$text-color-heavy: #242e3e;
$text-color-white: #ffffff;

$bg-dark: #242e3e;
$bg-dark-medium: #eff3f6;
$bg-default: #f0f0f5;
$bg-white: #ffffff;

$divisor-white: #fff;
$divisor-dark-light: #eff3f6;
$divisor-dark-medium: #e4e4e4;
$divisor-dark: #A6ACAF;
