
$color-system-light: #7bacd1;
$color-system-medium: #4288BD;
$color-system-heavy: #2e5f84;

$text-color-light: #686e71;
$text-color-medium: #424648;
$text-color-heavy: #242e3e;
$text-color-white: #ffffff;

$bg-dark: #242e3e;
$bg-default: #f0f0f5;