@import "../../assets/styles/styles.scss";

#page-landing {
    height: 100vh;
}

#page-landing {
    .content {
        height: 100%;
        width: 100%;

        header {
            padding: 50px;
        }

        main {
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;

            .apresentation-text {
                padding: 0 40px;
                width: 50%;

                h1 {
                    font-size: 46px;
                    padding-bottom: 30px;
                }

                p {
                    font-size: 20px;
                }
            }

            .apresentation-image {
                margin: 0 auto;
                width: 50%;

                .logo {
                    width: 500px;
                    height: auto;
                }
            }
        }
    }
}
