.homeForm {

    &__btnGroup {
        display: flex;
        align-items: center;
        margin-top: 25px;

        button {
            margin-right: 15px;
        }

        &--loadingBtn {
            &:hover {
                background-color: #ffffff;
                color: #4288BD;
                border: 2px solid #4288BD;
                cursor: not-allowed;
            }
        }
    }
}