.homeForm {

    &__btnOrders {
        height: fit-content;
        display: flex;
        margin: 20px 0 0 10px;
    }

    &__table {
        table {
            thead {
                tr {
                    th {

                    }
                }
            }

            tbody {
                tr {
                    td {
                        
                    }
                }
            }
        }
    }

    &__btnGroup {
        display: flex;
        align-items: center;
        margin-top: 25px;

        button {
            margin-right: 15px;
        }

        &--loadingBtn {
            &:hover {
                background-color: #ffffff;
                color: #4288BD;
                border: 2px solid #4288BD;
                cursor: not-allowed;
            }
        }
    }
}