@import "../assets/styles/styles.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F5;
    color: $text-color-medium;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
    color: $text-color-heavy;
}

#investree-layout {
    .wrapper-layout {
        background-color: $bg-default;
        min-height: 100vh;

        .content-container-layout {
            padding: 15px;

            .card-layout {
                min-height: calc(100vh - 95px);
                background-color: $bg-dark-medium;
                border-radius: 5px;
                padding: 10px;
            }

            @media (min-width: 1200px) {
                width: 1200px;
                margin: 0 auto;

                padding: 15px 0;
            }
        }
    }
}

